@import 'src/assets/css/variables';

.converter-container {
  margin: 5% 0;
  padding: 25px;
  form{
    flex-direction: column !important;
  }
  .text-montant{
    float: left;
    font-size: 18px;
  }
  .converter-btn {
    padding-bottom: 1.34375em;
  }

  .reverse-btn:hover {
      border: 1px solid;
  }

  .converter-btn{
    button{
      background-color: rgb(0, 125, 143);
      color: rgb(255, 255, 255);
      border-width: 1px;
      border-color: rgb(0, 125, 143);
    }
  }
}

@media (min-width: $xsmall) {
  .converter-container {
    margin-left: 5%;
    margin-right: 5%;
    form{
      flex-direction: row !important;
    }
    .text-montant{
      float: right;
    }
  }
}